        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: rebeccapurple;
        }

        header {
            background: whitesmoke;
            text-align: center;
            font-size: larger;
            padding: 5px;
            font-weight: 600;
        }
       
        section{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 20px;
        }

        a button{
            font-size: larger;
            font-weight: 900;
            padding: 5px 15px;
            border-radius: 10px;
            border: none;
            box-shadow: 5px 4px 8px white;
            border: inset rgb(229, 255, 0);
        }
        a button:hover{
            transform:scale(1.2);
            transition: 1s;
        }
        section a span{
            color: red;
        }
