        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            padding-top: 40px;
            background: linear-gradient(650deg, rgb(255, 251, 0), green);

        }

        header {
            padding: 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-flow: wrap;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            animation: colr 6s ease;
            background: linear-gradient(270deg,
                    #ff004c,
                    #00c3ff,
                    #00ff9d);
            background-size: 600% 600%;
            animation: col 10s ease infinite;

            z-index: 1000;
        }


        @keyframes col {
            20% {
                background-position: 0% 50%;
            }

            60% {
                background-position: 100% 50%;
            }

            80% {
                background-position: 0% 50%;
            }
        }

        header a {
            text-decoration: none;
            color: white;
            background: green;
            padding: 5px;
            border-radius: 5px;
            font-size: larger;
        }

        main {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 2fr);
            gap: 5px;
            min-height: 100vh;



        }

        .product {

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            gap: 10px;
            background-color: yellow;
            border: 1px solid blue;

        }

        .product img {
            width: 100%;
            height: 180px;
            object-fit: cover;


        }

        .cart {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #00ff9d;
            font-size: 14px;
            text-align: center;
        }

        .cart p {

            padding: 10px 20px;
        }

        .cart img {
            width: 20%;
            height: 30%;

        }

        @media (max-width:500px) {
            header {
                background: whitesmoke;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                padding: 5px;
                height: auto;
                margin-bottom: 50px;
            }

            header a {

                margin-left: 2rem;
                width: 50%;
                height: auto;
                background-color: black;
            }

            main {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }

            .product {
                background: black;
            }

            .product img {
                width: 70%;
                height: auto;
            }

            .cart {
                width: 40%;
                display: flex;
                align-items: center;
            }

            .product .cart img {
                width: 15%;
            }
        }
